.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}
.card-wrapper > .product-card{
    width: calc(20% - 20px);
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 10px;
}
.img-wrapper{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}
.img-wrapper > img{
    width: 100%;
}