<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div th:if="${#lists.isEmpty(baskets)}">
            <p>장바구니가 비어 있습니다.</p>
            <a href="/main">상품 보러가기</a>
        </div>
        <div th:unless="${#lists.isEmpty(baskets)}">
            <div th:each="basket: ${baskets}">
                <h1>구매 페이지</h1>
                <img th:src="|/${basket.productImage}/|" class="card-img-top" alt="이미지를 불러올 수 없습니다.">
                <!-- 상품 이름 -->
                <p th:text="${basket.productName}" th:id="productName"></p>
                <!-- 상품 가격 -->
                <p th:text="${basket.productPrice}" th:id="productPrice"></p>
                <!-- 상품 설명 -->
                <p th:text="${basket.productDescription}" th:id="productDescription"></p>
                <!-- 선택된 개수 -->
                <p th:text="${basket.selectedQuantity}" th:id="selectedQuantity"></p>
                <!-- 상품 기타 -->
                <p th:text="${basket.productEtc}" th:id="productEtc"></p>
                <!-- 선택된 상품 가격 -->
                <p th:text="${basket.basketPrice}" th:id="basketPrice"></p>
                <a href="javascript:void(0);" class="delete" th:data-uri="@{|/main/basket/${basket.basketId}|}" sec:authorize="isAuthenticated()" th:if="${basket.username != null and #authentication.getPrincipal().getUsername() == basket.username}" th:text="삭제"></a>
            </div>
            <!-- 장바구니 모든 가격 -->
            <p th:text="${totalPrice.totalPrice}" th:id="totalPrice"></p>
            <!-- 유저 정보(디폴트는 히든) -->
            <div style="display:none">
                <p th:text="${userInfo.name}" th:id="name"></p>
                <p th:text="${userInfo.phoneNumber}" th:id="phoneNumber"></p>
                <p th:text="${userInfo.landNumberAddress}" th:id="landNumberAddress"></p>
                <p th:text="${userInfo.postalCode}" th:id="postalCode"></p>
            </div>
            <button onclick="requestPay()">결제하기</button>
        </div>
    </div>

    <script layout:fragment="script" type="text/javascript">
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
            };
        });
    });
    </script>

    <script layout:fragment="payment" type="text/javascript">
        var IMP = window.IMP;
        IMP.init("imp83026887");

        var productName = $('#productName').text();
        var totalPrice = $('#totalPrice').text();
        var name = $('#name').text();
        var phoneNumber = $('#phoneNumber').text();
        var landNumberAddress = $('#landNumberAddress').text();
        var postalCode = $('#postalCode').text();

        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');

        function requestPay() {
            IMP.request_pay(
                {
                    pg: "html5_inicis",
                    pay_method: "card",
                    merchant_uid: 'merchant_' + new Date().getTime(),
                    name: productName,
                    amount: totalPrice,
      				buyer_email: "",
      				buyer_name: name,
      				buyer_tel: phoneNumber,
      				buyer_addr: landNumberAddress,
      				buyer_postcode: postalCode

                },
                function (rsp) {
      				//rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
                    if (rsp.success) {
                        $.ajax({
                            url: "/main/purchase/card",
                            beforeSend: function(xhr){
                                xhr.setRequestHeader(header, token);
                            },
                            method: "POST",
                            contentType: 'application/json',
                            data: JSON.stringify({
                                imp_uid: rsp.imp_uid,
                                merchant_uid: rsp.merchant_uid,
                                amount: rsp.paid_amount
                            }),
                            success: function(result) {
                                alert("결제 완료");
                                location.replace("/main/purchase/card");
                            }
                        })
                    } else {
                        alert(rsp.error_msg);
                    }
                }
            );
        }
    </script>
</html>