<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div th:if="${#lists.isEmpty(baskets)}">
            <p>장바구니가 비어 있습니다.</p>
            <a href="/main">상품 보러가기</a>
        </div>
        <div th:unless="${#lists.isEmpty(baskets)}">
            <div th:each="basket: ${baskets}">
                <h1>구매 페이지</h1>
                <img th:src="|/${basket.productImage}/|" class="card-img-top" alt="이미지를 불러올 수 없습니다.">
                <p th:text="|유저 아이디 : ${basket.userId}"></p>
                <p th:text="|상품 이름 : ${basket.productName}"></p>
                <p th:text="|상품 가격 : ${basket.productPrice}"></p>
                <p th:text="|상품 설명 : ${basket.productDescription}"></p>
                <p th:text="|선택된 개수 : ${basket.selectedQuantity}"></p>
                <p th:text="|상품 기타 : ${basket.productEtc}"></p>
                <p th:text="|선택된 가격 : ${basket.basketPrice}"></p>
                <a href="javascript:void(0);" class="delete" th:data-uri="@{|/main/basket/${basket.basketId}|}" sec:authorize="isAuthenticated()" th:if="${basket.username != null and #authentication.getPrincipal().getUsername() == basket.username}" th:text="삭제"></a>
            </div>
            <p th:text="|총 가격 : ${totalPrice.totalPrice}"></p>
        </div>
        <a href="">결제하기</a>
    </div>
    <script layout:fragment="script" type="text/javascript">
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
            };
        });
    });
    </script>
</html>