<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
    <h1>Product Page</h1>

    <table>
        <thead>
            <tr>
                <th>상품 id</th>
                <th>상품 이름</th>
                <th>상품 이미지</th>
                <th>상품 가격</th>
                <th>상품 개수</th>
                <th>상품 보이기</th>
                <th>상품 기타</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td>
                    <a th:href="@{|/main/products/${product.productId}|}" th:text="${product.productId}"></a>
                </td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productImage}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productQuantity}"></td>
                <td th:text="${product.productHide}"></td>
                <td th:text="${product.productEtc}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>