<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div th:if="${#lists.isEmpty(baskets)}">
            <p>장바구니가 비어 있습니다.</p>
            <a href="/main">상품 보러가기</a>
        </div>
        <div th:unless="${#lists.isEmpty(baskets)}">
            <div th:each="basket: ${baskets}">
                <h1>구매 페이지</h1>
                <img th:src="|/${basket.productImage}/|" class="card-img-top" alt="이미지를 불러올 수 없습니다.">
                <p th:text="|유저 아이디 : ${basket.userId}"></p>
                <p th:text="|상품 이름 : ${basket.productName}"></p>
                <p th:text="|상품 가격 : ${basket.productPrice}"></p>
                <p th:text="|상품 설명 : ${basket.productDescription}"></p>
                <p th:text="|선택된 개수 : ${basket.selectedQuantity}"></p>
                <p th:text="|상품 기타 : ${basket.productEtc}"></p>
                <p th:text="|선택된 가격 : ${basket.basketPrice}"></p>
                <a href="javascript:void(0);" class="delete" th:data-uri="@{|/main/basket/${basket.basketId}|}" sec:authorize="isAuthenticated()" th:if="${basket.username != null and #authentication.getPrincipal().getUsername() == basket.username}" th:text="삭제"></a>
            </div>
            <p th:text="|총 가격 : ${totalPrice.totalPrice}"></p>
        </div>
        <button onclick="requestPay()">결제하기</button>
    </div>

    <script layout:fragment="script" type="text/javascript">
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
            };
        });
    });
    </script>

    <script layout:fragment="payment" type="text/javascript">
        var IMP = window.IMP;
        IMP.init("imp83026887");

        function requestPay() {
            IMP.request_pay(
                {
                    pg: "html5_inicis",		//KG이니시스 pg파라미터 값
                    pay_method: "card",		//결제 방법
                    merchant_uid: "1234578",//주문번호
                    name: "당근 10kg",		//상품 명
                    amount: 200,			//금액
      				buyer_email: "gildong@gmail.com",
      				buyer_name: "홍길동",
      				buyer_tel: "010-4242-4242",
      				buyer_addr: "서울특별시 강남구 신사동",
      				buyer_postcode: "01181"

                },
                function (rsp) {
      				//rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
                    if (rsp.success) {
                        //서버 검증 요청 부분
                    } else {
                        alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                    }
                }
            );
        }
    </script>
</html>