<html layout:decorate="~{layout}">
<div layout:fragment="content" >
    <div class="card-wrapper">
        <div class="card product-card" th:each="product: ${products}">
            <div class="img-wrapper">
                <img th:src="${product.productImage}" class="card-img-top" alt="이미지를 불러올 수 없습니다.">
            </div>
            <div class="card-body">
            <a th:href="@{|/main/products/${product.productId}|}" th:text="${product.productName}"></a>
            <p th:text="|${product.productPrice} 원|" class="card-text"></p>
            <p th:text="${product.productType}" class="card-text category"></p>
            <p th:text="${product.productEtc}" class="card-text etc"></p>
        </div>
        </div>
    </div>
</div>
</html>