<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <h1>Product Details</h1>
        <table>
            <thead>
            <tr>
                <th>상품 id</th>
                <th>상품 이름</th>
                <th>상품 이미지</th>
                <th>상품 가격</th>
                <th>상품 개수</th>
                <th>상품 보이기</th>
                <th>상품 기타</th>
                <th>상품 종류</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productImage}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productQuantity}"></td>
                <td th:text="${product.productHide}"></td>
                <td th:text="${product.productEtc}"></td>
                <td th:text="${product.productType}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{|/main/products/${product.productId}/purchase|}">구매</a>
    </div>
</html>